body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #777;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f0f0f0;
  padding: 0 1em;
}

body > * {
  margin: 0;
  margin-bottom: 1em;
}

.updates-container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 1em;
  font-size: 3vw;
  width: 100%;
  justify-content: space-around;
}
.updates-container div {
  font-size: .8em;
}

.metrics-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}

.metric {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0;
  text-align: center;
  min-width: 13em;
  text-wrap: nowrap;
}

.metric a{
  padding: 1em;
  display: block;
  text-decoration: none;
}
.metric-name {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.metric-value {
  font-size: 1.6em;
  font-weight: bold;
  color: #656565;
}

.metric-unit {
  font-size: 0.8em;
  color: #666;
}

#canvas-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 1em 0 1em 0;
}

canvas {
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid #ddd;
}

.buttons {
  display: flex;
}
.buttons a {
  display: inline-block;
  padding: 0.7em;
  font-size: 1.7em;
  color: #fff;
  background-color: #5da2ed;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 0.5em;
}
.buttons a:hover {
  background-color: #0056b3;
}
